<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


<%= form_with model: @potin, url: create_potin_path, local: true do |form| %>
  <% if @potin.errors.any? %>
    <div id="error_explanation">
      <h2 class="alert alert-danger" role="alert"><%= pluralize(@potin.errors.count, "error") %> prohibited this potin from being saved:</h2>
      <ul>
        <% @potin.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field mb-3 w-25 m-auto pt-3">
    <%= form.label :author, 'Auteur', class: 'form-label' %>
    <%= form.text_field :author, class: 'form-control', id: 'exampleFormControlInput1' %>
  </div>
  
  <div class="field mb-3 w-25 m-auto">
    <%= form.label :content, 'Contenu', class: 'form-label' %>
    <%= form.text_area :content, class: 'form-control', id: 'exampleFormControlTextarea1', rows: 3 %>
  </div>

  <div class="actions w-25 m-auto">
    <%= form.submit 'Valider', class: 'btn btn-primary' %>
  </div>
<% end %>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>