<h1>Log in</h1>

<%= form_with(scope: :session, url: login_path, local: true) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= link_to "Sign up", signup_path %>
